@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-shadow: 0;
  font-family: "Roboto Condensed", sans-serif;
}
body {
  background: #001529;
}
.imageContainer {
  width: 100%;
  position: relative;
  max-width: 700px;
  aspect-ratio: 70/45;
  margin: 2rem auto;
}
